
{% load static %}
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Feito com Sucesso!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<head>
    <meta charset="UTF-8">
    
</head>

<body>


<div class="container">
    <h1> Autenticação: </h1>
    <div class="card">

      <div class="card-body"> 
        <div class="alert alert-success">
          <strong>Sucesso!</strong> Ponto Registrado com Sucesso.
        </div> 
        <a href="http://localhost:8000/sair/"><h2>
            <button type="button" class="btn btn-danger">Sair</button>  
    </h2></a>
      </div>
      <a href="http://localhost:8000/nova/cadastro/"><h5>  Justificar  atraso
</h5></a>
    </div>
  </div>
  
  </body>
  </html>